<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	
	<connectionStrings>
		<add name="ConString" connectionString="Data Source=192.168.8.8\logic;Initial Catalog=DynamicDMS;Persist Security Info=True;User ID=erp_user;Password=erp123;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<appSettings>
		<!--Start: File Upload and Watermark Configuration For Local-->
		<add key="ApiIntegration" value="0"/>
		<!--Start: File Upload and Watermark Configuration For Local-->

		<!--Start: File Upload and Watermark Configuration For Local-->
		<add key="DraftFolder" value="DocumentsDraft"/>
		<add key="DraftImage" value="D:\LOGIC\AsrotexDMS\DynamicDMS\Images\draft.png"/>
		<add key="DraftLocation" value="D:\LOGIC\AsrotexDMS\DynamicDMS\DocumentsDraft\"/>
		<add key="ApproveFolder" value="DocumentsApprove"/>
		<add key="ApproveImage" value="D:\LOGIC\AsrotexDMS\DynamicDMS\Images\approve.png"/>
		<add key="ApproveLocation" value="D:\LOGIC\AsrotexDMS\DynamicDMS\DocumentsApprove\"/>
		<!--End: File Upload and Watermark Configuration-->

		<!--Start: Email Configure-->
		<add key="SmtpOut" value="smtp.googlemail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="MailFrom" value="ahmed1920.logic@gmail.com"/>
		<add key="MailPassword" value="yzeawypfnfmmxjrt"/>
		<!--End: Email Configure-->
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.5" batch="false">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
			<buildProviders>
				<add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			</buildProviders>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true">
			<controls>
				<add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages>
		<authentication mode="Forms">
			<forms loginUrl="~/Default.aspx" timeout="2880"/>
		</authentication>
		<customErrors mode="RemoteOnly"/>
		<sessionState timeout="60" mode="InProc"/>
		<httpRuntime targetFramework="4.5" maxRequestLength="4096000" enable="true" requestLengthDiskThreshold="512" useFullyQualifiedRedirectUrl="true" executionTimeout="360"/>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
	</system.web>
	<businessObjects>
		<crystalReports>
			<rptBuildProvider>
				<add embedRptInResource="true"/>
			</rptBuildProvider>
		</crystalReports>
	</businessObjects>
	<system.webServer>
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="" maxReceivedMessageSize="2621440"/>
			</basicHttpBinding>
		</bindings>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
</configuration>